/* ESTILOS DEL HERO */
.hero {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 37rem;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--bg-primary);
}

.hero__container {
  width: 100rem;
  display: flex;
  gap: 10rem;
  flex-direction: row;
}

.hero__column1 {
  width: 50%;
}

.hero__title {
  font-family: 'Pacifico', cursive;
  padding-top: 5rem;
  font-size: 4rem;
  color: var(--primary-color);
  font-weight: 400;
}

.hero__subtitle {
  font-size: 2.5rem;
  color: var(--primary-color);
  font-weight: 700;
}

.hero__paragraph {
  font-size: 1.25rem;
  width: 42.5rem;
  padding-top: 1.5rem;
}

.hero__container__items {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-top: 2.5rem;
}

.hero__video {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  border: var(--primary-color) solid 0.13rem;
  border-radius: 4rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  cursor: pointer;
  text-decoration: none;
}

.hero__video:hover {
  border: var(--hover) solid 0.13rem;
  transition: border 0.5s ease, transform 0.3s ease-in-out;
}

.hero__text {
  color: var(--primary-color);
  font-weight: 600;
}

.hero__video:hover .hero__text {
  color: var(--hover);
  transition: color 0.5s ease, transform 0.3s ease-in-out;
}

.hero__circle {
  border: var(--primary-color) solid 0.13rem;
  border-radius: 2rem;
  shape-outside: circle();
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__video:hover .hero__circle {
  border: var(--hover) solid 0.13rem;
  transition: border 0.5s ease, transform 0.3s ease-in-out;
}

.hero__circle i {
  color: var(--primary-color);
  font-size: 0.6rem;
}

.hero__video:hover .hero__circle i {
  color: var(--hover);
  transition: color 0.5s ease, transform 0.3s ease-in-out;
}

.hero__column2 {
  width: 50%;
  position: relative;
}

.hero__column2__hero {
  padding-top: 3rem;
  object-fit: cover;
  position: absolute;
  z-index: 3;
}

.hero__column2__rec__blue {
  padding-top: 11.2rem;
  position: absolute;
  z-index: 1;
}

.hero__column2__rec__yellow {
  padding-top: 4.8rem;
  position: absolute;
  z-index: 2;
}

/* ESTILOS DEL LAYOUT */
.layout {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 64.3rem;
  background-color: var(--bg-secondary);
  margin-left: auto;
  margin-right: auto;
}

.layout__container {
  width: 100rem;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.layout__span {
  font-weight: 700;
}

.layout__container__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layout__text {
  color: var(--primary-color);
  font-weight: 700;
  padding-top: 0.3rem;
}

.layout__container__filters {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
}

.search__container {
  position: relative;
  display: flex;
  align-items: center;
  width: 21.25rem;
  height: 2.75rem;
}

.input__search {
  width: 100%;
  height: 100%;
  border: 0.1rem solid var(--secondary-color);
  border-radius: 0.6rem;
  outline: none;
  padding-left: 1rem;
  padding-right: 3rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  color: var(--secondary-color);
  background-color: var(--bg-secondary);
}

.search__container i {
  position: absolute;
  right: 0.75rem;
  color: var(--primary-color);
  font-size: 1.6rem;
  font-weight: 900;
}

.input__search:focus {
  border-color: var(--primary-color);
}

.button__see__more {
  width: 12.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.5rem;
  border: var(--primary-color) solid 0.1rem;
  border-radius: 4rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
}

.button__see__more:hover {
  background-color: var(--hover-primary-color);
  transition: background-color 0.5s ease, transform 0.3s ease-in-out;
}

.button__text {
  color: var(--primary-color);
  font-weight: 700;
}

.button__see__more:hover .button__text {
  color: #ffffff;
}

.button__see__more i {
  color: var(--primary-color);
  font-weight: 700;
}

.button__see__more:hover i {
  color: #ffffff;
  transition: color;
}

.cards__container {
  display: grid;
  gap: 1.6rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 400px);
  padding-top: 2.12rem;
  padding-bottom: 2.12rem;
}

.card {
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 1rem;
}

.card__image__dog {
  width: 100%;
  object-fit: cover;
}

.card__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 0.8rem;
  gap: 0.3rem;
}

.card__title {
  font-weight: 700;
}

.card__description {
  color: var(--tertiary-color);
}
.card__price {
  font-weight: 700;
}
